@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Rubik", sans-serif;
}

html, body {
	@apply bg-gradient-to-b from-dark to-dark-variant h-screen;
}

#app {
	@apply ml-2 h-screen min-h-screen max-h-screen overflow-y-scroll pl-[calc(100vw-100%)];
}

::-webkit-scrollbar {
	@apply w-2;
}

::-webkit-scrollbar-track {
	@apply bg-gradient-to-b from-dark to-dark-variant;
}

::-webkit-scrollbar-thumb {
	@apply bg-[#454E56] rounded-full;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-[#636F79];
}

.jumping-animation {
	animation: jump 2s infinite ease-in-out;
}

@keyframes jump {
	0%, 100% {
		opacity: 0.8;
		transform: translateY(0px);
	}

	50% {
		opacity: 0.2;
		transform: translateY(-10px);
	}
}